services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile.app
    env_file:
      - .env
    depends_on:
      - db
      - redis
  db:
    image: postgres:18.0
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:8.2.2
    command: /bin/sh -c "redis-server --requirepass $$REDIS_PASSWORD"
    env_file:
      - .env
  migrate:
    build:
      context: .
      dockerfile: Dockerfile.migrate
    volumes:
      - ./prisma:/app/prisma:ro
    profiles:
      - tools
    env_file:
      - .env
    depends_on:
      - db
  migrate-dev:
    build:
      context: .
      dockerfile: Dockerfile.migrate
    volumes:
      - ./prisma:/app/prisma
    profiles:
      - tools
    env_file:
      - .env
    depends_on:
      - db
    entrypoint: ["pnpm", "exec", "prisma", "migrate", "dev", "--name"]

volumes:
  db_data:
